# Visual Data Analysis of Fraudulent Transactions

Your CFO has also requested detailed trends data on specific card holders. Use the starter notebook to query your database and generate visualizations that supply the requested information as follows, then add your visualizations and observations to your markdown report.

In [4]:
# Initial imports
import pandas as pd
import calendar
import plotly.express as px
import hvplot.pandas
from sqlalchemy import create_engine

In [7]:
# Create a connection to the database

#postgres://postgres_user:postgres_password@postgres:5432/postgres_db

engine = create_engine("postgresql://postgres:258Bi258+@localhost:5432/Unit7_Homework_Assignment")

## Data Analysis Question 1

The two most important customers of the firm may have been hacked. Verify if there are any fraudulent transactions in their history. For privacy reasons, you only know that their cardholder IDs are 2 and 18.

* Using hvPlot, create a line plot representing the time series of transactions over the course of the year for each cardholder separately. 

* Next, to better compare their patterns, create a single line plot that containins both card holders' trend data.  

* What difference do you observe between the consumption patterns? Does the difference suggest a fraudulent transaction? Explain your rationale in the markdown report.

In [13]:
# loading data for card holder 2 and 18 from the database
# Write the query
query = """
SELECT card_holder.id,card_holder.name
FROM card_holder
WHERE card_holder.id in (2,18)
"""


# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
card_holder_df = pd.read_sql(query, engine)
card_holder_df

   id           name
0   2  Shane Shaffer
1  18  Malik Carlson

In [ ]:
# Plot for cardholder 2

In [ ]:
# Plot for cardholder 18

In [ ]:
# Combined plot for card holders 2 and 18

## Data Analysis Question 2

The CEO of the biggest customer of the firm suspects that someone has used her corporate credit card without authorization in the first quarter of 2018 to pay quite expensive restaurant bills. Again, for privacy reasons, you know only that the cardholder ID in question is 25.

* Using Plotly Express, create a box plot, representing the expenditure data from January 2018 to June 2018 for cardholder ID 25.

* Are there any outliers for cardholder ID 25? How many outliers are there per month?

* Do you notice any anomalies? Describe your observations and conclusions in your markdown report.

In [ ]:
# loading data of daily transactions from jan to jun 2018 for card holder 25
# Write the query
query = """
        YOUR QUERY HERE
        """
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)

In [ ]:
# loop to change the numeric month to month names

In [ ]:
# Creating the six box plots using plotly express